body, .main-content {
    padding-top : 90px !important; /* Espacio para que no tape la navbar fija */
    margin-left: 40px;  /* Ajusta según la altura de tu navbar */
  }

  .navbar {
    z-index: 1050;  /* Bootstrap ya tiene este valor por defecto */
}